{{!-- kpeh == post-info.handlebars --}}

    <article class="post">
      <div class="title">
        <span><a href="/blogPost/{{id}}">{{title}}</a></span><span style="float:right">Posted by {{user.username}} on {{format_date created_at}}</span><br>
        <span style="float:right">{{comments.length}} {{format_plural "comment" comments.length}}</span>
      </div>
      <div class = "content">
          <p>{{post_text}}</p>
          {{!-- ????<p>{{blogPost_text}}</p>?????? --}}
      </div>
    </article>