<div class="container">
    <div class="row">
        <div class="card text-dark shadow mb-3 blogPost-main">
            <div class="text-center mx-auto p-3">
                <h2>{{title}}</h2>
                <p>Created by {{user.name}} on {{format_date date_created}}</p>
                <p>{{description}}</p>
                <button class="btn btn-dark" id="editBtn">Edit</button>
                <button class="btn btn-dark" id="deleteBtn">Delete</button>
            </div>

            <div class="text-center">
                <h3>Comments</h3>
                {{#each comments}}
                    <div>
                        <p>{{comment_body}} by {{comment.user_id}} on {{format_date createdAt}}</p>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>



{{!-- <script src="/js/newCommentHandler.js"></script> --}}
{{!-- <script src="/js/deleteBlogPost.js"></script> --}}
<script src="/js/editBlogPost.js"></script>